<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="main.css">
    <title>Elzero Course CSS
    </title>
</head>
<body>
    <div class="title-container-big-title">
        <p class="ass-title">ألأســبــوع </p>
        </div>

    <div class="title-container">
        <p class="ass-title">تكليفات CSS  الدروس  من <span>13</span> إلى <span>16</span>  </p>
    </div>
    <div class="title-container-sml">
        <p class="ass-title-sml"> <span><a href="" target="_blank" >Assg1 </a></span></p>
        </div>


<div class="title-container-sml">
    <p class="ass-title-sml"> <span><a href="" target="_blank" >Assg2 </a></span></p>
    </div>


<div class="title-container-sml">
    <p class="ass-title-sml"> <span><a href="" target="_blank" >Assg3 </a></span></p>
    </div>

    <div class="title-container-sml">
        <p class="ass-title"> <span><a href="" target="_blank" >Assg4 </a></span></p>
        </div>


<div class="title-container">
    <p class="ass-title">تكليفات CSS  الدروس  من <span>13</span> إلى <span>16</span>  </p>
    </div>
    <div class="title-container-sml">
        <p class="ass-title-sml"> <span><a href="" target="_blank" >Assg1 </a></span></p>
    </div>

<div class="title-container-sml">
    <p class="ass-title-sml"> <span><a href="" target="_blank" >Assg2 </a></span></p>
</div>

</body>
</html>