* {
    font-weight: bold;
    font-family: "Cairo", sans-serif;
}
/* assg 1 , 5-8 */
.title-container,.title-container-big-title,.title-container-sml{
    background-color: bisque;
    width: 400px;
    height: 50px;
    margin: auto;
    border: 2px solid rgb(33, 216, 248);
    border-radius: 13px;
    margin-bottom: 10px;
}
.title-container-sml{
    width: 200px;
    height: 50px;
    border: 2px solid rgb(18, 29, 31);
}
.title-container-big-title{
    width: 100%;
    height: 50px;
    color: aliceblue;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,137,144,1) 25%, rgba(0,212,255,1) 100%);
}
.title-container-big-title > p{
    font-weight: bold;
    font-family: "Cairo", sans-serif;
    font-size: large;
}

.ass-title-sml > span{
    direction: ltr;
    color:red
}
.ass-title-sml > span > a{
    text-decoration: none;
    color: inherit;
}
.ass-title-sml > span > a:hover{
    color: rgb(12, 190, 71);
}


.ass-title,.ass-title-sml{
    direction: rtl;
    text-align: center;
    font-weight: bold;
    font-family: "Cairo", sans-serif;
}
.ass-title > span{
    direction: ltr;
    color:red
}
.title-container:hover{
cursor: pointer;
border: 2px solid rgb(15, 109, 126);
}
.ass-title > span > a{
    text-decoration: none;
    color: inherit;
}
.ass-title > span > a:hover{
    color: rgb(12, 190, 71);
}
/* assign 1-1 */
.parent{
    margin:auto;
    background-color: rgb(48, 202, 223);
    width: 800px;
    text-align: center;
    overflow: hidden;
}

.parent>div{
    margin-left: 15px;
    margin-right: 15px;
    background-color:rgb(176, 238, 238);
    margin-top: 15px;
    

}
.full-width{
    width: calc(100% - 30px);
    margin-bottom: 0px;
}
.telt{
    width: calc((100% - 90px)/3);
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.nos{
    width: calc((100% - 60px)/2);
    float: left;
}

.rob3{
    width: calc((100% - 120px)/4);
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
}
/* assign 2-1 */
.assign--{
    margin: auto;
    margin-bottom: 10px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid hsla(0, 0%, 66%, 0.11);
    position: relative;
    height:fit-content;
    width: 97%;

}

.normal,.one,.two{
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #B3B3B3; /* Get The Background From Image */
    color: black;
}

.one{
    background-color: hsl(0, 0%, 70% ,.1);
}

.two{
    opacity: .1;
}

/* assign 1-2 */
.mag {
    margin: auto;
    width: 150px;
    height: 140px;
    background-color: aliceblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(161, 158, 158);
}

.mag > div {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: auto;
}

.green {
    background-color: #009688;
    z-index: 5;
    left: 60%; /* Center horizontally */
    top: 60%; /* Center vertically */
    transform: translate(-50%, -50%); /* Center the element perfectly */
}

.red {
    background-color: #F44336;
    z-index: 100;
    left: 65%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.blue {
    background-color: #03A9F4;
    z-index: 4;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.black {
    background-color: #333333;
    z-index: 3;
    left: 55%;
    top: 57%;
    transform: translate(-50%, -40%);
}

.conta{
    width: 400px;
    margin: auto;
    background-color: #EEEEEE;
    border:2px solid #F44336;
    border-left:2px solid #2196F3;
    border-right:2px solid #2196F3;
    padding: 15px;
    position: relative;
    margin-top: 50px;

}

.conta>span{
    background-color: #2196F3;
    color: white;
    display: block;
    width: 3.8%;
    height: 6%;
    text-align: center;    
    position: absolute;
    padding: 8px 14px 16px 12px;; 
}

.top-left{
    top: 0;
    left:0;
    margin-left: -5%;
    margin-top: -4%;
    border-right:2px solid #F44336;

}
.bottom-left{
    bottom: 0;
    left: 0;
    margin-left: -5%;
    margin-bottom: -4%;
    border-right:2px solid #F44336;
}

.bottom-right{
    bottom: 0;
    right: 0;
    margin-right: -5%;
    margin-bottom: -4%;
    border-left:2px solid #F44336;
}
.top-right{
    top: 0;
    right: 0;
    margin-right: -5%;
    margin-top: -4%;
    border-left:2px solid #F44336;

}

.parentlis{
    width: 400px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}

ol{
    /* make the numbers outside */
    list-style-position: inside;
    
    
}

ol>li{
    list-style-position: outside;
    background-color: #FFFFFF;
    margin-top: 10px;
    
    padding: 10px 10px ;

}

.unorders > li{
    list-style-position: inside;
    background-color: #FFFFFF;
    padding: 10px 10px ;
    margin-top: 10px;
}

.title{
    list-style-type: none;
    padding: 10px;
    margin-top: 20px;
    background-color: #EEEEEE;
    

}
.roman{
    list-style-type: upper-roman;
}

table, tr {
    background-color: #EEEEEE;
    margin: auto;
    padding: 0px 0;
    text-align: center;
    border-spacing: 0px;
    font-weight:800;
}

table{
    width: 700px;
}

td{
    width: fit-content;
    border-left:1px solid rgb(250, 250, 250); 
    border-bottom:1px solid rgb(250, 250, 250);
    padding: 10px;
    text-transform: capitalize;
    font-weight:600;
}

thead tr td{
    background-color: #404040;
    color: white;
    height: 12px;
    padding: 5px;
}

.view{
    background-color: #03A9F4;
    color: white;
    border: none;
}
.delete{
    background-color: #E91E63;
    color: white;
    border: none;
}



